@charset "UTF-8";
/***** Reset CSS ******/
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/***** @import *****/
/***** Text Colors *****/
/****** Asset colors *****/
/***** Background Colors *****/
/****** Mixins Position *****/
/****** Border entrées/plats/desserts ******/
/***** Animation Button Linear Gradient *****/
/***** Animation Slider-Left *****/
@keyframes slider-left {
  from {
    transform: translateX(100px);
    width: 0;
  }
  to {
    transform: translateX(0);
    width: 69px;
  }
}
/***** Animation menu  *****/
@keyframes menu-fade {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/***** Animation Loader *****/
@keyframes cancel-loader {
  100% {
    display: none;
  }
}
@keyframes flip-loader {
  0% {
    transform: perspective(60px) rotate(45deg) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: perspective(60px) rotate(45deg) rotateX(-360deg) rotateY(0deg);
  }
}
/***** Animation Heart *****/
/***** Position *****/
.restaurants-cards a, .restaurants-cards, .function span, .function ul li, .function ul, .description, form, .logo-header, .loader-container .loader, .loader-container, .btn-linear {
  display: flex;
  justify-content: center;
  align-items: center;
}

/***** Font *****/
.restaurants-cards .card-content .card-title, h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.restaurants-cards .card .new, .function span, .function ul li, form input:focus, form input::placeholder, .btn-linear {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.restaurants-cards .card-content .card-subtitle, .description p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/***** Button Linear-Gradient *****/
.btn-linear {
  text-decoration: none;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(355deg, #9356dc -11.44%, #ff79da 123.93%);
  color: var(--White, #fff);
  cursor: pointer;
}

/***** General ******/
h1,
h2 {
  font-size: 24px;
}

/***** Loader *****/
.loader-container {
  position: fixed;
  background: white;
  opacity: 80%;
  z-index: 9999;
  width: 100%;
  height: 100%;
  animation: cancel-loader 2s forwards;
}
.loader-container .loader {
  font-size: 80px;
  animation: flip-loader 2s linear infinite;
}
.loader-container .loader i {
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-mask-image: linear-gradient(193deg, #000 90%, transparent);
}

/****** Header Logo *****/
.logo-header {
  position: relative;
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

/****** Header Location *****/
form {
  background: #EAEAEA;
  width: 100%;
  height: 50px;
}
form label {
  color: #353535;
}
form input {
  all: unset;
}
form input::placeholder {
  color: #353535;
  text-align: center;
}
form input:focus {
  text-align: center;
  color: #353535;
}

/***** Header Description *****/
.description {
  flex-direction: column;
  text-align: center;
  background: #F6F6F6;
  padding-bottom: 60px;
}
.description h1 {
  margin: 35px 0 10px;
  padding: 0 60px;
}
.description p {
  font-size: 18px;
  margin: 0 0 25px;
}

.btn-linear:hover {
  opacity: 80%;
  transition: 0.5s;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.btn-linear:not(:hover) {
  opacity: none;
  transition: 0.5s;
}

/***** Section Function *****/
.function {
  padding: 20px 20px 60px;
}
.function ul {
  flex-direction: column;
  gap: 20px;
}
.function ul li {
  position: relative;
  width: 100%;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: #F6F6F6;
}

.function h2 {
  margin: 30px 0 25px;
}

.function span {
  position: absolute;
  left: -12px;
  font-size: 13px;
  width: 24px;
  height: 24px;
  background: #9356DC;
  color: white;
  border-radius: 50%;
}

.function li i {
  position: absolute;
  top: 23px;
  left: 35px;
  font-size: 20px;
}

.fa-solid.fa-mobile-screen-button,
.fa-solid.fa-list-ul {
  color: #7E7E7E;
}

.fa-solid.fa-store {
  color: #9356DC;
}

/***** Section Restaurants *****/
.restaurants {
  background: #F6F6F6;
  padding: 0 20px 60px;
  width: 100%;
}
.restaurants h2 {
  padding: 50px 0 20px;
}

.restaurants-cards {
  flex-wrap: wrap;
  gap: 18px;
}
.restaurants-cards a {
  text-decoration: none;
  width: 100%;
}
.restaurants-cards .card {
  position: relative;
  width: 340px;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  background: white;
}
.restaurants-cards .card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants-cards .card .new {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #008766;
  background: #99E2D0;
  font-size: 14px;
  padding: 6px 9px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.restaurants-cards .card-content {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
}
.restaurants-cards .card-content .card-title {
  color: black;
  font-size: 18px;
  padding-bottom: 5px;
}
.restaurants-cards .card-content .card-subtitle {
  color: black;
  font-size: 17px;
}
.restaurants-cards .card-content .fa-regular.fa-heart {
  position: absolute;
  right: 30px;
  bottom: 20px;
  font-size: 22px;
  color: black;
}
.restaurants-cards .card-content .fa-solid.fa-heart {
  position: absolute;
  right: 30px;
  bottom: 20px;
  opacity: 0;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-mask-image: linear-gradient(193deg, #000 90%, transparent);
  font-size: 22px;
}
.restaurants-cards .card-content .fa-solid.fa-heart:hover {
  opacity: 100%;
  transition: 0.8s;
}

.container-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding: 22px 25px;
  background: #353535;
}
.container-footer img {
  width: 139px;
  height: 27px;
}
.container-footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
}
.container-footer a {
  display: flex;
  font-family: "Roboto", sans-serif;
  gap: 10px;
  text-decoration: none;
  color: white;
}
.container-footer .info {
  font-weight: 300;
}
.container-footer .info-icon-1 {
  font-weight: 500;
}
.container-footer .info-icon-1 i {
  padding-right: 6px;
}
.container-footer .info-icon-2 {
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */