/****** Mixins Position *****/
@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

/****** Mixins animations ******/
@mixin btn-linear-effect() {
  &:hover {
    opacity: 80%;
    transition: 0.5s;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  }
  &:not(:hover) {
    opacity: none;
    transition: 0.5s;
  }
}

/****** Border <h3> entrées/plats/desserts ******/
@mixin menu-line() {
  position: relative;
  padding-bottom: 10px;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 46px;
    border-bottom: 3px solid $background-green-light;
  }
}
