/***** @import *****/
@import "./variables";
@import "./mixins";
@import "./placeholders";

/***** Header *****/
.logo-header {
  position: relative;
  .back-arrow {
    @include position(absolute, $left: 20px);
    color: $text-grey-dark;
    font-size: 20px;
  }
}

/***** Main Container *****/
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  img {
    width: 100%;
    height: 275px;
    object-fit: cover;
  }
}

/***** Section Menu *****/
.menu {
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
  border-radius: 20px 20px 0 0;
  margin-top: -45px;
  gap: 40px;
  width: 100%;
  max-width: 1055px;
  background: $background-grey-light;
  .restaurant-title {
    @extend %font-title-menu;
    padding-right: 20px;
  }
}

.menu-header {
  @extend %flex-center;
  justify-content: flex-start;
  position: relative;
  padding: 30px 20px 0 0;
  .fa-regular.fa-heart {
    @include position(absolute, $bottom: 10px);
    font-size: 22px;
    color: black;
  }
  .fa-solid.fa-heart {
    cursor: pointer;
    @include position(absolute, $bottom: 10px);
    @include heart-linear-gradient;
    font-size: 22px;
  }
}

.menu-main {
  @extend %flex-center;
  flex-direction: column;
  gap: 40px;
}

.menu-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 635px;
  h3 {
    @extend %font-light;
    @include menu-line();
  }
}

.case {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  height: 69px;
  background: white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  .txt {
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 15px;
    width: 100%;
    gap: 5px;
    overflow: hidden;
    .title {
      @extend %font-medium;
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .subtitle {
      @extend %font-light;
      font-size: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .price {
    @extend %font-bold;
    font-size: 15px;
    padding: 15px 15px 15px 5px;
  }
}

.check-box {
  @extend %flex-center;
  width: 0px;
  overflow: hidden;
  height: 69px;
  border-radius: 0 15px 15px 0;
  background: $background-green-light; 
  .case:hover & {
    animation: slider-left 0.5s ease-in-out forwards;
  }
  .fa-solid.fa-circle-check {
    color: white;
    font-size: 22px;
  }
}

.menu-footer {
  @extend %flex-center;
  padding: 28px 0 40px;
}

/***** Animations Delay Menu *****/
#article-1 {
  animation: menu-fade 1s ease-in-out forwards;
  animation-delay: 0ms;
}

#article-2 {
  animation: menu-fade 1s ease-in-out forwards;
  animation-delay: 600ms;
}

#article-3 {
  animation: menu-fade 1s ease-in-out forwards;
  animation-delay: 1200ms;
}

